.site-header {
  background-color: #f5f7fa;
  color: white;
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  width: 50px; 
  height: auto;
  display:flex; 
  
  

}
.list{
  margin-right:105px;
}

input {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
}

.search-icon {
  color: #2196F3;
  cursor: pointer;
}


li{
  display: flex;
   list-style: none;
   text-decoration: none;
   color:white;
   color:black;
   margin-right: 35px;
  
   
}
ul{
  display: flex;
  margin-right: 65px;
 
}
@media  (max-width:900px){
    .list{
      margin-left:125px;
      margin-right:0px
    }
}


