/* Footer container */
.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    min-width: 400px;
    width:100%;
    /* overflow-x: hidden; */
  }
  /* .footer{
    @media screen and (max-width:1274px) {
      width: 100%;
  }
  } */
  
  
  /* Left section */
  .left-section {
    /* display: flex; */
    /* display: flex; */
    /* flex-direction: column; */
    margin-left:55px;
    align-items: center;
    text-align: center;
    /* flex-direction: row; */
    /* margin-right: 50px; */
    
  }
  .left_img{
      margin-left:65px;
  }
  
  /* Social icons */
  .social-icons {
    margin-left: 65px;
    /* width:50px; */
    
  }
  
  /* Middle section */
  .middle-section {
    text-align: left;
    /* flex-grow: 1; */
    transition: color 0.3s; 
  }
  .icon:hover{
    text-decoration: underline;
    cursor:pointer;
  }
  
  .p1:hover {
    color: orange;
    cursor:pointer; /* Change text color to orange on hover */
  }
  /* Services in bold */
  .bold {
    font-weight: bold;
  }
  
  /* Right section */
  .right-section {
    text-align: right;
    flex-shrink: 0;
  }
  

  